/* PRESETS
/––––––––––––––––––––––––*/
@use "media" as *;

.content-block {
	//create the "container" with this applied to any row or any 100% width element
	padding: 0 6.5rem;

	@include media("<lg") {
		padding: 0 3.75rem;
	}
	@include media("<sm") {
		padding: 0 1.2rem;
	}
}

.content-max {
	max-width: 1920px;
	margin: 0 auto;

	@include media("<2xl") {
		max-width: 1520px;
	}
	@include media("<xl") {
		max-width: 1360px;
	}
}
.noscroll {
	overflow: hidden;
}

:focus {
	outline: 0;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}
